<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Buat Permintaan Pengiriman</title>

    <style>
       .thead {
            background-color: rgb(53, 53, 53);
            color: white;
        }

        a {
            text-decoration: none;
        }

        .add-button {
            margin-bottom: 20px;
        }

        .action-buttons {
            margin-top: 10px;
            margin-bottom: 40px;
        }

        #dataTables {
            text-align: center;
        }
    </style>
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container">
    <div class="text-center pt-5 mb-5">
        <div class="card">
            <div class="card-header text-center">
                <h2>Buat Permintaan Pengiriman</h2>             
            </div>
            
            <form th:action="@{/permintaan-pengiriman/tambah}" th:object="${permintaan_pengiriman}" method="POST">
                <div class="card-body" style="text-align: left;">
                    <table class="table table-borderless">
                        <tbody>
                            <!-- Karyawan Bertugas -->
                            <tr>
                                <td class="d-flex align-items-center w-100">
                                    <div class="col-6 mb-3" style="width: 48%; margin-right: 2%;">
                                        <p class="mb-2">Karyawan Bertugas :</p>
                                        <select name="karyawan.id" class="form-select" th:field="*{karyawan.id}">
                                            <option th:each="karyawan : ${listKaryawan}" th:value="${karyawan.id}" th:text="${karyawan.nama}"></option>
                                        </select>                                        
                                    </div>

                                    <div class="col-6 mb-3" style="width: 50%">
                                        <p class="mb-2">Tanggal Pengiriman</p>
                                        <div class="input-group">
                                            <input type="date" class="form-control" placeholder="dd/mm/yyyy" th:field="*{tanggal_pengiriman}" required/>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <!-- Nama Penerima -->
                            <tr>
                                <td class="d-flex align-items-center w-100">
                                    <div class="col-6 mb-3" style="width: 48%; margin-right: 2%;">
                                        <p class="mb-2">Nama Penerima :</p>
                                        <input type="text" class="form-control" th:field="*{nama_penerima}" required/>
                                    </div>
                                    
                                    <!-- Jenis Layanan -->
                                    <div class="col-6 mb-3">
                                        <p class="mb-2">Jenis Layanan :</p>
                                        <select name="jenis_layanan" class="form-select" th:field="*{jenis_layanan}">
                                            <option th:each="entry : ${listJenisLayanan}" th:value="${entry.key}" th:text="${entry.value}"></option>
                                        </select>
                                    </div>
                                </td>
                            </tr>

                            <!-- Alamat Penerima -->
                            <tr>
                                <td class="d-flex align-items-center w-100">
                                    <div class="col-6 mb-3" style="width: 48%; margin-right: 2%;">
                                        <p class="mb-2">Alamat Penerima :</p>
                                        <input type="text" class="form-control" th:field="*{alamat_penerima}" required/>
                                    </div>
                                    
                                    <!-- Biaya Pengiriman -->
                                    <div class="col-6 mb-3" style="width: 50%">
                                        <p class="mb-2">Biaya Pengiriman :</p>
                                        <input type="text" class="form-control" th:field="*{biaya_pengiriman}" required/>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-between add-button">
                        <span></span>
                        <button type="submit" class="btn btn-primary btn-md mx-2 d-flex align-items-center" name="addRow" id="addRow">
                            <i class="bi bi-plus"></i>
                            <span class="ms-1">Tambah Barang</span>
                        </button>
                    </div>

                    <table id="dataTables" class="table table-bordered">
                        <thead class="thead">
                            <tr>
                                <th>#</th>
                                <th>Barang</th>
                                <th>Kuantitas</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="item, rowStat : *{listPermintaanPengirimanBarang}">
                                <td th:text="${rowStat.index + 1}"></td>
                                <td>
                                    <select name="listPermintaanPengirimanBarang" class="form-select" th:field="*{listPermintaanPengirimanBarang[__${rowStat.index}__].barang}">
                                        <option th:each="barang : ${listBarang}" th:value="${barang.sku}" th:text="${barang.merk}"></option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Jumlah Stok" th:field="*{listPermintaanPengirimanBarang[__${rowStat.index}__].kuantitas_pesanan}" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>   
                
                <div class="text-center action-buttons">
                    <a type="button" class="btn btn-danger m-2 mb-3" href="/">Batal</a>
                    <button type="submit" class="btn btn-primary m-2 mb-3">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>
