<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Daftar Barang</title>

    <style>
        .thead {
            background-color: rgb(53, 53, 53);
            color: white;
        }

        td, .thead {
            text-align: center;
        }
    </style>
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container">
    <div class="text-center pt-5">
        <h2>Daftar Barang</h2>
    </div>

    <div class="text-center pt-3 mb-5">
        <a class="btn btn-primary btn-md mx-2" th:href="@{/barang/tambah}">
            <i class="bi bi-plus"></i>
            <span class="ms-1">Tambah Barang</span>
        </a> 
    </div>

    <table id="dataTables" class="table table-bordered">
        <thead class="thead">
            <tr>
                <th>#</th>
                <th>SKU</th>
                <th>Merk</th>
                <th>Stok</th>
                <th>Harga</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="barang, nomor: ${listBarang}">
                <td th:text="${nomor.index + 1}"></td>
                <td th:text="${barang.sku}"></td>
                <td th:text="${barang.merk}"></td>
                <td>
                    <span th:each="gudangBarang : ${listGudangBarang}" th:if="${gudangBarang.barang.sku == barang.sku}" th:text="${gudangBarang.stok}"></span>
                </td>
                <td th:text="${barang.harga_barang}"></td>
                <td>
                    <a class="btn btn-md btn-secondary mx-2" th:href="@{/barang/{sku}(sku=${barang.sku})}">Detail</a>
                </td>
            </tr>
        </tbody>
        
        
    </table>
    
</div>
</body>

</html>