<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    
    <title>Detail Gudang</title>

    <style>
       .thead {
            background-color: rgb(53, 53, 53);
            color: white;
        }

        a {
            text-decoration: none;
        }

        table {
            text-align: center;
        }

        .no-barang {
            color: rgb(180, 0, 0);
            text-align: center;
            padding-top: 20px;
        }
    </style>
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container">
    <div class="text-center pt-5 mb-5">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h2>Detail Gudang</h2>
                <a class="btn btn-primary btn-md mx-2 d-flex align-items-center" th:href="@{/gudang/{idGudang}/restock-barang(idGudang=${gudang.id})}">
                    <i class="bi bi-plus"></i>
                    <span class="ms-1">Restock Barang</span>
                </a>              
            </div>
            
            <div class="card-body" style="text-align: left;">
                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <p>Nama Gudang</p>
                    </div>
                    <div class="col-4">
                        <p>: [[${gudang.nama}]]</p>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <p>Alamat Gudang</p>
                    </div>
                    <div class="col-4" style="white-space: nowrap; text-overflow: ellipsis;">
                        <p>: [[${gudang.alamat_gudang}]]</p>
                    </div>
                </div>

                <div class="text-left pt-3 mb-3">
                    <h5>Daftar barang tersedia</h5>
                </div>
            
                <th:block th:if="${gudang.listGudangBarang.size() > 0}">
                    <table id="dataTables" class="table table-bordered">
                        <thead class="thead">
                            <tr>
                                <th>#</th>
                                <th>SKU</th>
                                <th>Merk</th>
                                <th>Stok</th>
                                <th>Harga</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="gudangBarang, nomor: ${gudang.listGudangBarang}">
                                <td th:text="${nomor.index + 1}"></td>
                        
                                <td>
                                    <a th:href="@{'/barang/' + ${gudangBarang.barang.sku}}">
                                        <span th:text="${gudangBarang.barang.sku}"></span>
                                    </a>
                                </td>
                        
                                <td th:text="${gudangBarang.barang.merk}"></td>
                        
                                <td th:text="${totalStokGudang[gudangBarang.barang.sku]}"></td>
                        
                                <td th:text="'Rp' + ${gudangBarang.barang.harga_barang}"></td>
                            </tr>
                        </tbody>
                    </table>
                </th:block>

                <th:block th:unless="${gudang.listGudangBarang.size() > 0}">
                    <h3 class="no-barang">Gudang tidak memiliki persediaan barang</h3>
                </th:block>
            </div>   
            
            <div class="text-center m-3">
                <a type="button" class="btn btn-secondary m-2 mb-3" href="/gudang">Kembali</a>
            </div>
        </div>

    </div>
</div>
</body>

</html>