<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Detail Permintaan Pengiriman</title>
    <style>
        .thead {
            background-color: rgb(53, 53, 53);
            color: white;
        }

        a {
            text-decoration: none;
        }

        .badge-danger-outline {
            background-color: transparent;
            color: #dc3545; /* Warna teks merah */
            border: 1px solid #dc3545; /* Warna garis tepi merah */
            padding: 0.5rem 1rem;
            border-radius: 0.25rem; /* Opsional, untuk sudut dengan radius */
        }

        table {
            text-align: center;
        }
    </style>
</head>

<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<div class="container">
    <div class="text-center pt-5 mb-5">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h2>Detail Permintaan Pengiriman</h2>

                <div th:if="${is_canceled}">
                    <span class="badge badge-danger-outline">Permintaan dibatalkan</span>
                </div>
                
                <div th:unless="${is_canceled}">
                    <a th:if="${selisihWaktu <= jamDalamSehari}" class="btn btn-danger btn-md mx-2 d-flex align-items-center"
                       th:href="@{'/permintaan-pengiriman/' + ${permintaan.id} + '/cancel'}">
                        <span class="ms-1">Cancel Permintaan</span>
                    </a>

                    <button th:if="${selisihWaktu > jamDalamSehari}" class="btn btn-danger btn-md mx-2 d-flex align-items-center" disabled="disabled">
                        <span class="ms-1">Cancel Permintaan</span>
                    </button>
                </div>
            </div>

            <div class="card-body" style="text-align: left;">
                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <p>No. Permintaan Pengiriman</p>
                    </div>

                    <div class="col-4">
                        <p th:text="' : ' + ${permintaan.nomor_pengiriman}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <p>Waktu Permintaan</p>
                    </div>

                    <div class="col-4">
                        <p th:text="' : ' + ${#dates.format(permintaan.waktu_permintaan, 'dd-MM-yyyy, HH:mm')}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <p>Karyawan Bertugas</p>
                    </div>

                    <div class="col-4">
                        <p th:text="' : ' + ${permintaan.karyawan.nama}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <p>Waktu Pengiriman</p>
                    </div>

                    <div class="col-4">
                        <p th:text="' : ' + ${#dates.format(permintaan.tanggal_pengiriman, 'dd-MM-yyyy')}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <p>Nama Penerima</p>
                    </div>

                    <div class="col-4">
                        <p th:text="' : ' + ${permintaan.nama_penerima}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <p>Alamat Penerima</p>
                    </div>

                    <div class="col-4">
                        <p th:text="' : ' + ${permintaan.alamat_penerima}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <p>Jenis Layanan</p>
                    </div>

                    <div class="col-4">
                        <p th:text="' : ' + ${listJenisLayanan[permintaan.jenis_layanan]}"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <p>Biaya Pengiriman</p>
                    </div>

                    <div class="col-4">
                        <p th:text="' : Rp' + ${permintaan.biaya_pengiriman}"></p>
                    </div>
                </div>

                <div class="text-left pt-3 mb-3">
                    <h5>Daftar barang dipesan</h5>
                </div>

                <table id="dataTables" class="table table-bordered">
                    <thead class="thead">
                        <tr>
                            <th>#</th>
                            <th>SKU</th>
                            <th>Merk</th>
                            <th>Kuantitas Pesanan</th>
                            <th>Total Harga</th>
                        </tr>
                    </thead>

                    <tbody>
                        <th:block th:each="permintaanPengirimanBarang, iterStat : ${listPermintaanPengirimanBarang}">
                            <tr>
                                <td th:text="${iterStat.index + 1}"></td>
                                <td th:text="${permintaanPengirimanBarang.barang.sku}"></td>
                                <td th:text="${permintaanPengirimanBarang.barang.merk}"></td>
                                <td th:text="${permintaanPengirimanBarang.kuantitas_pesanan}"></td>
                                <td th:text="'Rp' + ${permintaanPengirimanBarang.barang.harga_barang * permintaanPengirimanBarang.kuantitas_pesanan}"></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>

            <div class="text-center m-3">
                <a type="button" class="btn btn-secondary m-2 mb-3" href="/permintaan-pengiriman">Kembali</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
